.login{
  background-color: rgb(47,69,123);
  border-radius: 1em;
  margin-top: 10%;
}
.logoHolder{
  width: 25%;
  margin: 2em auto;
  margin-bottom: 0;
}
img.loginLogo{
  max-width: 100%;
}
button{
  margin-top: 1em;
  margin-bottom: 1em;
}
h3.error{
  margin-top: .5em;
  color: rgb(255,50,50);
  text-align: center;
}
h3.success{
  margin-top:  .5em;
  text-align: center;
  color: rgb(0,200,0);
}
